.nav-bar {
    display: flex;
    justify-content: center;
    padding: 25px 0 15px;
    width: 100%;
    z-index: 20;
    transition: transform 0.2s;
    background-color: #071C39;

    &>ul {
        list-style: none;

        li {
            display: inline-block;
            margin-left: 75px;

            &:first-child {
                margin-left: 0;
            }

            .nav__link {
                display: inherit;
                padding: 5px 15px;
                width: 200px;
                text-align: center;

                font-size: 1.5rem;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;
                font-family: inherit;

                border: 1px solid #fff;
                color: #fff;
                background-color: transparent;

                cursor: pointer;
                transition: 0.3s ease;

                &:hover {
                    background-color: #fff;
                    color: #071C39;
                }
            }
        }
    }

    .mobile-nav {
        display: none;
        color: #fff;
        font-size: 3rem;
        width: 100%;
        padding: 0 5%;

        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                display: inline-block;

                i {
                    cursor: pointer;
                    color: #fff;
                }
            }
        }
    }
}

////////////////////////////////////////////
// MEDIA
////////////////////////////////////////////

@media (max-width: 900px) {
    .nav-bar {
        justify-content: center;
        padding: 10px 0;

        .mobile-nav {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: inherit;
            background-color: inherit;
        }

        &>ul {
            display: none;
        }
    }
}


@media (max-width: 420px) {
    .nav-bar {
        justify-content: center;
        padding: 5px 0;

        .mobile-nav {
            display: block;
            font-size: 2.5rem;
        }
    }
}