@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

header {
    height: 100px;
    background-color: #071C39;
}

// Button Component
.btn {
    width: 150px;
    font-size: 1.25rem;
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 1px;

    background-color: #fff;
    color: #071C39;
    border: 1px solid #000;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #071C39;
        color: #fff;
        border-color: #fff;
    }
}